<!-- Header Screen -->

<nav class="navbar navbar-expand-md navbar-light bg-light myShadow">
    <div class="container">
        <a class="navbar-brand" href="/">
            <b>Flickr Flicks!</b>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    Hello Visitor!
                </li>
            </ul>
        </div>
    </div>
</nav>

<br><br>

<!-- Main Screen -->

<div class="container" style="text-align: center;">

    <div class="row">

        <div class="col-md-12">

            <div class="row" style="text-align:center">
                <div class="col-md-12" style="font-size:22px"> <b>Flickr Images</b> </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-4" *ngFor="let photo of collection.data | paginate: config">
                    <div class="card bg-light" style="text-align: center">
                        <div class="card-body">
                            <img src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_n.jpg" style="width:20vw;height:20vw;"><br><br>
                            <a class="btn btn-xl-n" [routerLink]="['/images', photo.id]">View Image ></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br><br>
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>

        </div>

    </div>

</div>

<button class="scroll" *ngIf="isShow" (click)="gotoTop()">👆</button>

<!-- Footer Screen -->

<br><br>

<footer class="py-5" style="background-color: #f0f0f0">
    <div class="container">
      <p class="small">Copyright <span class="colorLayer">&copy; Vaibhav Udaywal </span></p>
    </div>
</footer>